# ----------------------
# General
# ----------------------
.DS_Store
*.log
.env
.vscode/
.idea/
venv/
.python-version
__pycache__/
**/__pycache__/
*.py[cod]
.env.local
logs/*.log

# ----------------------
# Python (backend/)
# ----------------------
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# ----------------------
# Node.js (frontend/)
# ----------------------
frontend/node_modules/
frontend/dist/
frontend/.vite/

# ----------------------
# Airflow
# ----------------------
airflow/keys/
*.p8
*.pem
rsa_key*

# ----------------------
# Great Expectations
# ----------------------
gx/uncommitted/

# ----------------------
# Modeling
# ----------------------
*.pkl
*.joblib
analysis/models/saved_models/**/*
analysis/outputs/results/**/*
!analysis/models/saved_models/.gitkeep
!analysis/outputs/results/.gitkeep
!analysis/outputs/figures/**/*
!logs/.gitkeep